a { color: #222; }
a:hover { color: #666; }

.float-left { float: left;}
.float-right { float: right;}
.clear { clear: both;}

#adv_search_div td { padding:3px; }
#queue-form td { padding: 3px;}
#queue-form td.label { padding-left:15px;}
#ticket-details th {font-weight: bold; padding-right: 10px;width:140px;vertical-align:top;}
#ticket-details td {width:300px;}
#details-sub-div {padding:15px;}
#ticket-details h1 {font-weight:bold;font-size:120%;}

#email-or-download {margin:15px 0;}

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}
        
table.data-grid {
  width: 100%;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

table.data-grid td, table.data-grid th {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  vertical-align: top;
}

tbody.ticket-info td {
  background: #e2e2e2;
}

table.data-grid th {
  background: #c4c9cb;
}

input.text-field {
  width: 250px;
  border: 1px solid #aaa;
}

div.recipient-box {
  background: #ddd;
  border: 2px solid #333;
  text-align: left;
  position: absolute;
  padding: 10px;
  left: 50px;
}

div.form-spacer {
  height: 10px;
}

div.spacer {
  height: 10px;
}

div.auto_complete {
width: 350px;
background: #fff;
}
div.auto_complete ul {
border:1px solid #888;
margin:0;
padding:0;
width:100%;
list-style-type:none;
}
div.auto_complete ul li {
margin:0;
padding:3px;
}
div.auto_complete ul li.selected { 
background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
color: #800; 
margin:0;
padding:0;
}
